.no-specs {
  text-align: center;
  margin-top: 2rem;
}

.car-specs-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.car-specs-container.light {
  background-image: url("../assets/pexels-hngstrm-1939485.jpg");
  /* background-color: rgba(233, 226, 235, 0.923); */
  color: black;
}

.car-specs-container.dark {
  background-image: url("../assets/pexels-danielabsi-952670.jpg");
  color: white;
}

.car-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  /* color: #333; */
}

.specs-button-container {
  display: flex;
  justify-content: space-around;
}

.edit-specs-button.light {
  background-image: url("../assets/pexels-hngstrm-1939485.jpg");
  color: black;
  transition: background 0.6s ease;
  border: none;
  /* transition: background-color 0.3s; */
}

.edit-specs-button.light:hover {
  background-image: none;
  background-color: grey;
  color: white;
}

.edit-specs-button.dark {
  background-image: url("../assets/pexels-danielabsi-952670.jpg");
  color: white;
  /* transition: background 0.3s ease; */
}

.edit-specs-button.dark:hover {
  background-image: none;
  background-color: #555;
  color: white;
}

.specs-section {
  display: flex;
  justify-content: center;
}

.specs-box {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.specs-box.light {
  background-image: url("../assets/pexels-hngstrm-1939485.jpg");
  /* background-color: rgba(233, 226, 235, 0.923); */
  color: black;
}

.specs-box.dark {
  background-image: url("../assets/pexels-danielabsi-952670.jpg");
  color: white;
}

.specs-box p {
  font-size: 16px;
  margin: 5px 0;
}

.no-data {
  text-align: center;
  font-size: 16px;
  color: #888;
}

.additional-specs,
.useful-links {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.additional-specs.light,
.useful-links.light {
  background-image: url("../assets/pexels-hngstrm-1939485.jpg");
  color: black;
}

.additional-specs.dark,
.useful-links.dark {
  background-image: url("../assets/pexels-danielabsi-952670.jpg");
  color: white;
}

h3 {
  /* color: #444; */
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px 0;
  font-size: 16px;
  border-bottom: 1px solid gray;
}

ul li a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  /* Додаємо для коректної роботи transform */
  transition: transform 0.2s ease, color 0.2s ease;
}

ul li a:hover {
  /* text-decoration: underline; */
  transform: scale(1.03);
  color: #0056b3;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
}
