.triangle-container {
  position: relative;
}

.triangle-toggle {
  width: 0;
  height: 0;
  margin-left: 1.2rem;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 26px solid gold;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.triangle-toggle.rotated {
  /* transform: rotate(180deg); */
  transform: translateX(-50%) rotate(180deg);
}

.search-bar-wrapper {
  /* margin-top: 3rem; */
  padding: 1rem;
  border-radius: 12px;
  /* background-color: #f9f9f9; */
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  animation: fadeInSlide 0.4s ease forwards;
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.search-bar-wrapper.light {
  background-image: url("../assets/pexels-hngstrm-1939485.jpg");
}

.search-bar-wrapper.dark {
  background-image: url("../assets/pexels-danielabsi-952670.jpg");
}

/* Анімація появи */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 20px;
  justify-content: space-around;
}

.search-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.search-input.light {
  background-color: #fff;
  color: #000;
}

.search-input.dark {
  background-color: #333;
  color: #fff;
}

.results-counter {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #f0f0f0;
  padding: 10px 16px;
  margin: 10px 0;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeSlideIn 0.5s ease-out forwards;
  opacity: 0;
  transform: translateY(-10px);
  cursor: pointer;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.results-counter.dark {
  background-color: #333;
  color: #fff;
}

.clear-button {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ff5c5c;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #e64545;
}

.car-list.hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.car-list.show {
  max-height: 9999px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
